:root {
    --white: #fff;
    --black: #000;
    --default-padding-personal-details: 25px 20px;
    --default-padding: 10px 20px;
    --default-border-radius: 12px;
    --default-margin: 20px auto 0 auto;
}

.personal-details {
    display: flex;
    flex-direction: column;
    margin: var(--default-margin);
    background-color: var(--white);
    padding: var(--default-padding-personal-details);
    border-radius: var(--default-border-radius);
}

.personal-details h2 {
    color: var(--black);
}

.education-section {
    background-color: var(--white);
    margin: var(--default-margin);
    border-radius: var(--default-border-radius);
}

.experience-section {
    background-color: var(--white);
    margin: var(--default-margin);
    margin-bottom: 0;
    border-radius: var(--default-border-radius);
}