.renderer-header {
    padding: 30px 20px 25px 20px;
}

.renderer-header-label {
    text-align: center;
    margin-bottom: 10px;
}

.renderer-header-contact-info {
    display: flex;
    justify-content: space-around;
}