.renderer-header {
    padding: 30px 20px 25px 20px;
}

.selected-color-blue {
    background-color: #0e374e;
    color: #fff;
}

.selected-color-red {
    background-color: red;
    color: #fff;
}

.selected-color-green {
    background-color: green;
    color: #fff;
}

.selected-color-purple {
    background-color: purple;
    color: #fff;
}

.selected-color-brown {
    background-color: brown;
    color: #fff;
}

.renderer-header.layout-position-left {
    width: 40%;
}

.renderer-header.layout-position-right {
    width: 40%;
}


.renderer-header-label {
    text-align: center;
    margin-bottom: 10px;
}

.renderer-header-contact-info {
    display: flex;
    justify-content: space-around;
}

.renderer-header-contact-info.layout-position-left,
.renderer-header-contact-info.layout-position-right {
    display: inherit;
    flex-direction: column;
}