.form-data-hydrator {
    margin: 20px 0;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 12px;
}

.form-data-hydrator-button-container {
    display: flex;
    justify-content: space-around;
}