.form-configurator {
    display: inherit;
    justify-content: end;
    margin: 0 20px 0 10px;
}

.vertical-align {
    display: inherit;
    flex-direction: column;
}

.form-configurator-button-container {
    display: inherit;
    flex-direction: inherit;
    background-color: #fff;
    border-radius: 12px;
}