
.renderer-header-contact-info-item {
    display: inherit;
    text-align: center; 
}

.renderer-header-contact-info-item.layout-position-left,
.renderer-header-contact-info-item.layout-position-right {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.renderer-header-contact-info-item div {
    display: inherit;
    align-items: center;
    margin-right: 5px;
}