.render-body-container.position-layout-top {}

.render-body-container.layout-position-left {
    width: 60%;
}

.render-body-container.layout-position-right {
    width: 60%;
}

.renderer-body-education {
    padding: 30px 20px 0 20px;
}

.renderer-body-education h3 {
    text-align: center;
    padding: 10px 0;
    background-color: #f3f4f6;
    color: #0e374e;
}

.renderer-body-experience {
    padding: 20px 20px 0 20px;
}

.renderer-body-experience h3 {
    text-align: center;
    padding: 10px 0;
    background-color: #f3f4f6;
    color: #0e374e;
}