/*---------------- CvForgeForm -------------------*/
.cv-forge-form {
    display: inherit;
    width: 50%;
    color: #fff;
    margin: 0 10px;
}

.form-configurator {
    width: 20%;
}

.form-toggler {
    width: 80%;
}

/*-------------- CvForgeRenderer -----------------*/

.cv-forge-renderer {
    width: 50%;

    background-color: orange;
    color: #fff;
}