/*---------------- CvForgeForm -------------------*/
.cv-forge-form {
    display: inherit;
    width: 50%;
    color: #fff;
    margin: 0 10px;
}

.form-configurator {
    width: 25%;
}

.form-toggler {
    width: 75%;
}

/*-------------- CvForgeRenderer -----------------*/

.cv-forge-renderer {
    width: 50%;

    background-color: #fff;
    color: #000;
}

.cv-forge-renderer.layout-position-left {
    display: flex;
}

.cv-forge-renderer.layout-position-right {
    display: flex;
    flex-direction: row-reverse;
}